.admin {
  font-size: 2rem;
}

.manage-recipes {
  text-align: left;
}

.admin-title {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 2rem;
}

.admin-subtitle {
  font-size: 2rem;
  text-align: left;
  padding: 2rem;
}

.recipe-form {
  text-align: left;
}
