.recipe-card {
  cursor: default;
}

.card-header {
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1rem;
  text-align: center;
  padding: 1.5rem;
}

.ingredient-header {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.ingredient-list-header {
  font-family: 'Pompiere', cursive !important;
  font-size: 2rem;
}

.ingredient-list {
  font-size: 1.5rem;
}
